body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.header,
.top_content_container,
.second_content_container,
.third_content_container,
.fourth_content_container,
.footer,
.header_links {
  display: flex;
}
.header,
.footer {
  background-color: #1f2937;
  color: white;
  padding: 5px;
  align-items: center;
}
.logo {
  font-size: 18px;
}
ul {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.header {
  justify-content: space-between;
}
.footer {
  justify-content: center;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: rgb(190, 72, 190);
}
.top_content_container {
  background-color: #1f2937;
  color: white;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap: 10px;
}
.hero_text_container,
.imageplaceholder {
  display: flex;
  height: 150px;
  width: 300px;
}
.hero_text_container {
  flex-direction: column;
  gap: 5px;
}
.imageplaceholder {
  background-color: lightgray;
  color: black;
  align-items: center;
  justify-content: center;
}
.hero_main_text {
  font-size: 38px;
  font-weight: bolder;
}
