body {
  margin: 0;
}
.header,
.top_content_container,
.second_content_container,
.third_content_container,
.fourth_content_container,
.footer,
.header_links {
  display: flex;
}
.header,
.footer {
  background-color: #1f2937;
  color: white;
  padding: 5px;
  align-items: center;
}
.logo {
  font-size: 18px;
}
ul {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.header {
  justify-content: space-between;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: rgb(190, 72, 190);
}
