body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.header,
.content_container,
.top_content_container,
.second_content_container,
.third_content_container,
.fourth_content_container,
.footer,
.header_links {
  display: flex;
}
.header,
.footer {
  background-color: #1f2937;
  color: white;
  padding: 15px;
  align-items: center;
}
.logo {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}
ul {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.header {
  justify-content: space-between;
  padding: 15px 100px;
}
.footer {
  justify-content: center;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: rgb(190, 72, 190);
}
.top_content_container {
  background-color: #1f2937;
  color: white;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap: 100px;
}
.hero_text_container,
.imageplaceholder {
  display: flex;
  height: 150px;
  width: 420px;
}
.hero_text_container {
  flex-direction: column;
  gap: 5px;
}
.imageplaceholder {
  background-color: lightgray;
  color: black;
  align-items: center;
  justify-content: center;
}
.hero_main_text {
  font-size: 38px;
  font-weight: bolder;
}
.second_content_container {
  align-items: center;
  flex-direction: column;
  color: #1f2937;
}
.images_container {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}
.image_with_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second_cont_img_placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 2px blue;
  border-radius: 30px;
  border: solid 2px blue;
  border-radius: 30px;
  height: 200px;
  width: 200px;
}
.content_container {
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
}
.content_heading {
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0px;
}
.third_content_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150px;
  background-color: #e5e7eb;
}
.quote_text_container {
  font-size: 18px;
  font-style: italic;
  color: #1f2937;
}
.author_container {
  text-align: left;
  font-weight: bold;
}
.fourth_content_container {
  justify-content: center;
  height: 150px;
}
.call_to_action_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  color: white;
  width: 700px;
  padding: 15px 40px;
  border-radius: 8px;
  margin: 40px;
}
.left_side_cta,
.right_side_cta {
  display: flex;
}
.left_side_cta {
  flex-direction: column;
}
.right_side_cta {
  justify-content: center;
  align-items: center;
}
.signup_button {
  background-color: inherit;
  color: white;
  border-radius: 8px;
  border: white solid 1px;
  width: 100px;
  padding: 10px;
}
.cta_header {
  font-size: 20px;
  font-weight: bold;
}
.signup_button:hover {
  background-color: #1451b4;
  cursor: pointer;
}
